body {
	font-family: sans-serif;
	text-align: center;
	padding: 3rem;
	font-size: 10.125rem;
	line-height: 1.5;
	transition: all 725ms ease-in-out;
}

h1 {
	font-size: 2rem;
	font-weight: bolder;
	margin-bottom: 1rem;
}

p {
	margin-bottom: 1rem;
	color: tomato;
}
th, td {
  border-bottom: 1px solid #ddd;
}
table {
  border-collapse: collapse;
}

table {
  width: 100%;
}

th {
  height: 50px;
}
