
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}">

<h1>سامانه ی بی‌کار</h1>


<table dir="rtl">
<tr>
  <th>عنوان کار</th>
  <th>ارزش کار</th>
  <th>تخمین زمانی</th>
  <th>صاحب کار</th>
    <th>توضیحات</th>
</tr>
{% for r in result %}
<tr>
  <th> {{ r.subject }}</th>
  <th> {{ r.value }}</th>
    <th> {{ r.estimated_days }}</th>
  <th> {{ r.owner }}</th>
  <th> {{ r.details }}</th>
</tr>
{% endfor %}
</table>
<nav style="font-size:10%;text-align: right;padding: 45px;">


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; اولی</a>
            <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        {% endif %}

        <span class="current">
            صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">آخری &raquo;</a>
        {% endif %}
    </span>
</div>



</nav>
<p style="font-size:10%;text-align: right;padding: 45px;">درباره ما
    <tab></tab>
    قوانین
</p>
